{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login">
	<div class="head-intro">
		<h1>Login</h1>
	</div>

	<div class="form">
	<form method="POST" action="">
		{% csrf_token %}
		<div class="field-name">{{ login_form.username.label }}</div>
		<div class="field-input">{{ login_form.username }}</div>

		<div class="field-name">{{ login_form.password.label }}</div>
		<div class="field-input">{{ login_form.password }}</div>
	</form>
	</div>
</div>

{% endblock %}
